#page-title {
    text-align: center;
}

#picture-container {
    /* Necessary */
    width: 400px;
    /* height: 400px; */

    /* center */
    margin: 0 auto;
}

#image {
    width: 100%;
}

img#image {
    border: 2px solid red;
    border-radius: 5px;
}

#picture-css {
    width: 900px;
    height: 300px;
    background-image: url(../images/image1.jpg);
    margin: 0 auto;
}

#hovers {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-image: url(../images/image1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.5;
}

#hovers h2 {
    text-align: center;
}

/* A sort of selector */
#hovers:hover {
    /* background-color: black; */
    border: 1px solid red;
    color: white;
    opacity: 1;
}