#page-title {
    text-align: center;
}

#picture-container {
    /* Necessary */
    width: 400px;
    /* height: 400px; */

    /* center */
    margin: 0 auto;
}

#image {
    width: 100%;
}

img#image {
    border: 2px solid red;
    border-radius: 5px;
}